<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.AppName</title>
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/materialadmin.css">
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/material-design-iconic-font.min.css">
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/toastr.css" />
    <link type="text/css" rel="stylesheet" href="~/Areas/Admin/Content/jquery.confirm.css"/>
    <script src="~/Areas/Admin/Scripts/jquery-1.11.2.min.js"></script>
    <style type="text/css">
        .table-responsive {
            overflow-x: initial;
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed">
    <header id="header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="/Admin/Dashboard/Dashboard">
                                <span class="text-lg text-bold text-primary">@ViewBag.AppName</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="headerbar-right">
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="~/Content/Images/logo.png" />
                            <span class="profile-info">
                                @ViewBag.AppName
                                <small>Admin</small>
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li>
                                <a href="@Url.Action("Logout", "Login")">
                                <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="base">
        <div class="offcanvas">
        </div>
        <div id="content">
            <section class="">
                <div class="section-body">
                    @RenderBody()
                </div>
            </section>
        </div>
        <div id="menubar" class="menubar-inverse  animate">
            <div class="nano has-scrollbar" style="height: 535px;">
                <div class="nano-content" tabindex="0" style="right: -17px;">
                    <div class="menubar-scroll-panel" style="padding-bottom: 33px;">
                        @Html.Partial("P_Menu")
                        <div class="menubar-foot-panel">
                            <small class="no-linebreak hidden-folded">
                                <span class="opacity-75">Copyright © @DateTime.Now.Year</span> <strong>@ViewBag.AppName</strong>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="nano-pane" style="display: none;">
                    <div class="nano-slider" style="height: 519px; transform: translate(0, 0);"></div>
                </div>
            </div>
        </div>
    </div>    
    <script src="~/Areas/Admin/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.unobtrusive-ajax.min.js"></script>    
    <script src="~/Areas/Admin/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Scripts/spin.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.autosize.min.js"></script>
    <script src="~/Areas/Admin/Scripts/moment.min.js"></script>
    <script src="~/Areas/Admin/Scripts/ec2c8835c9f9fbb7b8cd36464b491e73.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.knob.min.js"></script>
    <script src="~/Areas/Admin/Scripts/toastr.js"></script>
    <script src="~/Areas/Admin/Scripts/43ef607ee92d94826432d1d6f09372e1.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Scripts/additional-methods.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Areas/Admin/Scripts/63d0445130d69b2868a8d28c93309746.js"></script>
    <script src="~/Areas/Admin/Scripts/Demo.js"></script>
    <script src="~/Areas/Admin/Scripts/9782537cea5b6dc42cb13bd7821cceca.js"></script>
    <script src="~/Areas/Admin/Scripts/DevScript.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.form.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.confirm.js"></script>
    <script>
        $(document).ajaxStart(function () {
            $("#dvLoading").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#dvLoading").css("display", "none");
        });
    </script>
    <div id="device-breakpoints">
        <div class="device-xs visible-xs" data-breakpoint="xs"></div>
        <div class="device-sm visible-sm" data-breakpoint="sm"></div>
        <div class="device-md visible-md" data-breakpoint="md"></div>
        <div class="device-lg visible-lg" data-breakpoint="lg"></div>
    </div>
    <div id="dvLoading" style="display: none;">
        <div style="width: 100%; height: 100%; z-index: 10000; position: fixed; top: 0; left: 0; float: left; background-color: #333333; opacity: 0.9;">
            <div style="margin: 15% auto;width: 350px;white-space: nowrap;text-align: center;z-index: 1000;">
                <span style="text-align: center;">
                    <img src="/Areas/Admin/Content/images/loading.gif" style="width:50%;height:100%;" alt="">
                </span>
            </div>
        </div>
    </div>
</body>
</html>
