<ul id="main-menu" class="gui-controls">
    <li class="Lilist" id="P_Dashboard">
        <a class="ajax-link" title="Dashboard" href="/Admin/Dashboard/Dashboard">
            <div class="gui-icon"><i class="fa fa-home"></i></div>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li class="gui-folder Lilist" id="P_Pages">
        <a href="#">
            <div class="gui-icon"><i class="fa fa-list-ul"></i></div>
            <span class="title">Pages</span>
        </a>
        <ul style="">
            <li class="SubLilist" id="P_InnovativExperiment">
                <a class="ajax-link" title="" href='@Url.Action("Index", "InnovativExperiment")'>
                    <span class="title">Innovativ Experiment</span>
                </a>
            </li>
            <li class="SubLilist" id="P_SapanaKaroSakar">
                <a class="ajax-link" title="" href='@Url.Action("Index", "SapanaKaroSakar")'>
                    <span class="title">Sapana Karo Sakar</span>
                </a>
            </li>
            <li class="SubLilist" id="P_TeachersGyanstra">
                <a class="ajax-link" title="" href='@Url.Action("Index", "TeachersGyanstra")'>
                    <span class="title">Teachers Gyanstra</span>
                </a>
            </li>
            <li class="SubLilist" id="P_ParsamniProject">
                <a class="ajax-link" title="" href='@Url.Action("Index", "ParsamniProject")'>
                    <span class="title">Project of Parsamni</span>
                </a>
            </li>
            <li class="SubLilist" id="P_LifeSkillsProject">
                <a class="ajax-link" title="" href='@Url.Action("Index", "LifeSkillsProject")'>
                    <span class="title">Life skills project</span>
                </a>
            </li>
            <li class="SubLilist" id="P_CulturalProgram">
                <a class="ajax-link" title="" href='@Url.Action("Index", "CulturalProgram")'>
                    <span class="title">Cultural Program</span>
                </a>
            </li>            
        </ul>
    </li>
    <li class="Lilist" id="P_Settings">
        <a class="ajax-link" title="Settings" href='@Url.Action("Dashboard", "Dashboard")'>
            <div class="gui-icon"><i class="fa fa-cogs"></i></div>
            <span class="title">Settings</span>
        </a>
    </li>
</ul>
